<input ng-model="ctrl.newItem" placeholder="Enter item name">
<button class="addButton" ng-click='ctrl.addItem(ctrl.newItem, todayDate)' ng-disabled="!ctrl.newItem"> Add</button>
<ul class="editorView">
    <li ng-repeat="item in ctrl.items | orderBy: 'date':true track by $index">
        <p> {{item.name}}</p>
        <div style="float: right;"><a ng-click='ctrl.addItem(item.name)'>
            <i class="fa fa-copy"></i> </a>
            <a ng-click='ctrl.removeItem($index)'> <i class="fa fa-trash-alt"></i> </a></div>
    </li>
    <p class="asd" ng-hide="ctrl.items.length">No items</p>
</ul>
